<div class="container">
	<div class="card-deck mb-3 text-center">
		<div class="card mb-4 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Free</h4>
			</div>
            {% load static %}
    <link rel="stylesheet" href="{% static 'css/subscription.css'%}">
			<link rel="stylesheet" href="{% static 'css/font.css'%}">
			<div class="card-body">
				<h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
				<ul class="list-unstyled mt-3 mb-4">
					<li>reading blogs included</li>
<!--					<li>2 GB of storage</li>-->
					<li>Email support</li>
					<li>Help center access</li>
				</ul>
				<button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
			</div>
		</div>
		<div class="card mb-4 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Basic</h4>
			</div>
			<div class="card-body">
				<h1 class="card-title pricing-card-title">$25 <small class="text-muted">/ mo</small></h1>
				<ul class="list-unstyled mt-3 mb-4">
					<li>1 user included</li>
					<li>Editing Blog included</li>
					<li>Priority email support</li>
					<li>Help center access</li>
				</ul>
				<button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
			</div>
		</div>
		<div class="card mb-4 shadow-sm">
			<div class="card-header">
				<h4 class="my-0 font-weight-normal">Premium</h4>
			</div>
			<div class="card-body">
				<h1 class="card-title pricing-card-title">$99 <small class="text-muted">/ mo</small></h1>
				<ul class="list-unstyled mt-3 mb-4">
					<li>1 user included</li>
					<li>Editing included</li>
					<li>Posting included</li>
					<li>Deleting included</li>
					<li>Phone and email support</li>
					<li>Help center access</li>
				</ul>
				<button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
			</div>
		</div>
		<script src="{% static 'subscrition.js'%}"></script>
	</div>
</div>


